{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuCozinheiro</title>
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner.css' %}">
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner-imagem.css' %}">
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner-subtitulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/sobre/sobre.css' %}"> 
    <link rel="stylesheet" href="{% static '/css/sobre/sobre-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/sobre/sobre-descricao.css' %}">
    <link rel="stylesheet" href="{% static '/css/filosofia/filosofia.css' %}">
    <link rel="stylesheet" href="{% static '/css/filosofia/filosofia-banner.css' %}">
    <link rel="stylesheet" href="{% static '/css/filosofia/filosofia-conteudo.css' %}">
    <link rel="stylesheet" href="{% static '/css/filosofia/filosofia-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/filosofia/filosofia-descricao.css' %}">
    <link rel="stylesheet" href="{% static '/css/filosofia/filosofia-lista.css' %}">
    <link rel="stylesheet" href="{% static '/css/institucional/institucional.css' %}">
    <link rel="stylesheet" href="{% static '/css/institucional/institucional-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/institucional/institucional-lista.css' %}">
    <link rel="stylesheet" href="{% static '/css/institucional/institucional-span.css' %}">
    <link rel="stylesheet" href="{% static '/css/institucional/institucional-banner.css' %}">

    <link rel="stylesheet" href="{% static '/css/receitas/receitas.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-conteudo.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-texto.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-container.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-card.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-nome.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-descricao.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-imagem.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-autor.css' %}">






</head>
<body>
    
    <header class="cabecalho">
        <section class="banner">
            <div class="banner__imagem"></div>
            <h1 class="banner__titulo">EuCozinheiro</h1>
            <h2 class="banner__subtitulo">Prazer em Cozinhar</h2>
        </section>

    </header>
    
    <main class="principal">

        <section class="sobre">
            <h2 class="sobre__titulo">Prove o Sabor da Diversão e o Tempero da Saúde</h2>
            <p class="sobre__descricao">Transformamos o ato de cozinhar em uma celebração da vida, saúde e felicidade familiar. Nossa missão é simples.  Criar receitas que não apenas alimentem o corpo, mas também nutram a alma.</p>
        </section>    
            
        <section class="filosofia">

            <div class="filosofia__banner">
            </div>

            <div class="filosofia__conteudo">
                <h2 class="filosofia__titulo">Nossa Filosofia</h2>
                <p class="filosofia__descricao">Acreditamos que cada refeição é uma oportunidade de:</p>
                <ul class="filosofia__lista">
                    <li>Promover bem-estar</li>
                    <li>Fortalecer laços familiares</li>
                    <li>Explorar novos sabores</li>
                    <li>Criar memórias duradouras</li>
                </ul>
            </div>
            

        </section>
            
        <section class="institucional">
            
            <div class="institucional__conteudo">
                <h2 class="institucional__titulo">O que oferecemos</h2>
                <dl class="institucional__lista">
                    <dt class="institucional__lista--titulo">Receitas Cuidadosamente Elaboradas</dt>
                        <dd class="institucional__lista--dado">Cada prato é pensado para trazer o máximo de benefícios à saúde, sem abrir mão do sabor</dd>
                    <dt class="institucional__lista--titulo">Ingredientes Selecionados</dt>
                        <dd class="institucional__lista--dado">Focamos em ingredientes frescos, sazonais e nutritivos, escolhidos para cada ocasião especial</dd>
                    <dt class="institucional__lista--titulo">Experiências Culinárias</dt>
                        <dd class="institucional__lista--dado">Nossas receitas são mais que instruções - são convites para momentos de alegria na cozinha</dd>
                    <dt class="institucional__lista--titulo">Dicas de Bem-Estar</dt>
                        <dd class="institucional__lista--dado">Além das receitas, compartilhamos conselhos para uma vida mais saudável e feliz</dd>
                </dl>

                <p class="institucional__span">Junte-se a nós nesta jornada deliciosa. Prove o sabor da diversão, tempere com saúde e sirva uma grande porção de felicidade para sua família!</p>

            </div>

            <div class="institucional__banner">

            </div>
            

        </section>
            
        <section class="receitas">
            
            
            <div class="receitas__conteudo">
                <h2 class="receitas__titulo">Receitas </h2>
                <p class="receitas__texto">Nesta área você encontra as receitas cadastradas no site, dicas sobre os ingredientes utilizados e comentários de especialistas sobre o prato.</p>
            </div>

            
            <div class="receitas__container">
                <!--Neste ponto vamos montar a lista de cards dinamicamente
                    A view que renderiza esta página em python carrega dos dados em uma variável chamda Cards contendo os dados das receitas para montar os cards dinamicamente 

                    No for abaixo fazemos uma iteração nos dados 
                    Temos o receita_id que são os ids, 1, 2…. que numeram os dados,
                    Info são as informações contidas em cada item do dicionário
                    Cards é o dicionário de dados recebido no index através da renderização.
                -->
                {% for receita in cards %}


                    <div class="receitas__card">
                        {% if receita.imagem == "" or receita.imagem == null  %}
                            <img class="receitas__imagem" src="{% static '/assets/imagens/receitas/not-found.png' %}" alt="not-found">
                        {% else %}
                            <img class="receitas__imagem" src="{% static '/assets/imagens/receitas/'%}{{receita.imagem}}" alt="{{receita.nome}}">
                        {% endif %}

                        <a href="{% url 'receita' receita.id %}">
                            <h3 class="receitas__nome">{{receita.nome}}</h3>
                        </a>     
                        <p class="receitas__descricao"> {{receita.descricao}}</p>
                        
                        <span class="receitas__autor">Receita por: {{receita.autor}}</span>
                        
                    </div>
                {% endfor %}

            </div>

        </section>



    </main>

</body>
</html>