{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/receitas/receitas-container.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-banner.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-banner.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-banner-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-imagem.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-dados.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-dados-ingredientes.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-dados-preparo.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-dados-container.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-ingredientes.css' %}">
    <link rel="stylesheet" href="{% static '/css/receitas/receita-preparo.css' %}">
    <title>Receita</title>
</head>
<body>
    
    <a href="{% url 'home' %}">Voltar</a>
    
    <div class="receitas__container">    
        
                <section class="receita__banner">
                <h3 class="receita__banner--titulo">{{receita.nome}}</h3>
                    {% if receita.imagem == "" or receita.imagem == null  %}
                        <img class="receita__imagem" src="{% static '/assets/imagens/receitas/not-found.png' %}" alt="not-found">
                    {% else %}
                        <img class="receita__imagem" src="{% static '/assets/imagens/receitas/'%}{{receita.imagem}}" alt="{{receita.nome}}">
                    {% endif %}
                </section>  
                    
                <section class="receita__dados">
                        <p class="receita__descricao">{{receita.descricao}}</p>
                        
                        <div class="receita__dados--container">
                            <div class="receita__dados--ingredientes">
                                <label for="">Ingredientes</label>
                                <textarea class="receita__ingredientes"
                            autocapitalize="characters"
                            rows="20"
                            readonly
                         >
                         {{receita.ingredientes}}
                        </textarea>

                            </div>
                        
                            <div class="receita__dados--preparo">
                                <label for="">Modo de Preparo</label>
                                <textarea class="receita__preparo" rows="20" readonly>{{receita.preparo}}</textarea>
                            </div>
                        </div>
                        



                        <span class="receita__autor">Receita por: {{receita.autor}}</span>

                </section>
    </div>

</body>
</html>