{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/receita/receita.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-banner.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-banner-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-banner-imagem.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-imagem.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-dados.css' %}">
    
    <link rel="stylesheet" href="{% static '/css/receita/receita-descricao.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-dados-container.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-dados-preparo.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-dados-ingredientes.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-ingredientes.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-preparo.css' %}">
    <link rel="stylesheet" href="{% static '/css/receita/receita-autor.css' %}">
    
    <title>Receita</title>
</head>
<body>
    
    <a href="{% url 'home' %}">Voltar</a>
    
    <div class="receita">    
        
                <section class="receita__banner">
                
                    
                    <figure class="receita__banner--imagem">
                        {% if receita.imagem == "" or receita.imagem == null  %}
                            <img  class="receita__imagem" src="{% static '/assets/imagens/not-found.png' %}" alt="not-found">
                        {% else %}
                            <img  class="receita__imagem" src="{{ receita.imagem.url }}" alt="{{receita.nome}}">
                        {% endif %}

                    </figure>
                        
                </section>  
                
                <section class="receita__dados">
                    <h3 class="receita__banner--titulo">{{receita.nome}}</h3>    
                        <p class="receita__descricao">{{receita.descricao}}</p>
                        
                        <div class="receita__dados--container">
                            <div class="receita__dados--ingredientes">
                                <label for="">Ingredientes</label>
                                <textarea class="receita__ingredientes"
                            autocapitalize="characters"
                            rows="20"
                            readonly
                         >
                         {{receita.ingredientes}}
                        </textarea>

                            </div>
                        
                            <div class="receita__dados--preparo">
                                <label for="">Modo de Preparo</label>
                                <textarea class="receita__preparo" rows="20" readonly>{{receita.preparo}}</textarea>
                            </div>
                        </div>
                        



                        <span class="receita__autor">Receita por: {{receita.autor}}</span>

                </section>
    </div>

</body>
</html>