{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receita</title>
</head>
<body>
    
  
    {% include 'partials/_navbar.html' %}

    <section class="container-fluid p-0">

        <section class="container-fluid bg-body-secondary">   
            <figure class="figure-img">
                {% if receita.imagem == "" or receita.imagem == null  %}
                    <img  class="img-fluid rounded mx-auto d-block" src="{% static '/assets/imagens/not-found.png' %}" alt="not-found">
                {% else %}
                    <img  class="img-fluid rounded mx-auto d-block" src="{{ receita.imagem.url }}" alt="{{receita.nome}}">
                {% endif %}
            </figure>
                
        </section>  

        {% include 'partials/_alertas.html' %}
        <h1 class="h1 text-center mb-5">{{receita.nome}}</h1>    
            <p class="p-3 fw-light text-start fs-2">{{receita.descricao}}</p>
            
            
            <div class="mt-5 container fs-3">
                <div class="row">                            
                    <div class="fw-light col-md-6">
                            <label class="fw-bolder" for="textarea1">Ingredientes</label>
                            <textarea id="textarea1"
                                class="form-control fs-4"
                                autocapitalize="characters"
                                rows="20"
                                readonly
                            >
                                {{receita.ingredientes}}
                            </textarea>
                    </div>
                
                    <div class="fw-light col-md-6">
                            <label class="fw-bolder" for="textarea2">Modo de Preparo</label>
                            <textarea 
                            id="textarea2"
                            class="form-control fs-4" 
                            autocapitalize="characters"
                            rows="20" 
                            readonly>
                                {{receita.preparo}}
                            </textarea>
                    </div>    
                </div>

                
                
                    <div class="row">
                        <div class="fw-light col-md-6">
                            <span class="fw-light">Receita por: {{receita.autor}}</span>
                        </div>
                    </div>
                        <!-- Neste ponto recebemos o contexto da view e podemos tratar o usuário logado no sistema que está sendo passado no contexto pelo Django. Vamos mostrar o botão editar caso o usuário logado seja o autor da receita. -->
                        {% if user.is_authenticated and receita.autor_id == user.id %}
                        <div class="row">
                            <div class="fw-light col-md-6">
                                <a href="{% url 'editar_receita' receita.id  %}">
                                    <button class="btn btn-success col-12">
                                        Editar
                                    </button>
                                </a>
                            </div>
                            <div class="fw-light col-md-6">
                                <a href="{% url 'deletar_receita' receita.id  %}">
                                    <button class="btn btn-danger col-12">
                                        Apagar
                                    </button>
                                </a>
                            </div>      
                            
                        </div>    
                        {% endif %}    
                        <!--Se o usuário que estiver logado for superusuario vai habilitar um botão para publicar a receita caso não esteja publicada e para retirar a publicação se estiver publicada-->
                        {% if user.is_superuser and receita.publicada == False %}
                        
                        <div class="row">
                            <div class="fw-light col-md-6">    
                                <a href="{% url 'publicar_receita' receita.id  %}">
                                <button class="btn btn-primary col-12">
                                    Publicar
                                </button>
                                </a>
                            </div>    
                        </div>    
                        {% endif %}

                        {% if user.is_superuser and receita.publicada == True %}
                        
                        <div class="row">
                            <div class="fw-light col-md-6">    
                                <a href="{% url 'publicar_receita' receita.id  %}">
                                <button class="btn btn-primary col-12">
                                    Retirar das publicadas
                                </button>
                                </a>
                            </div>    
                        </div>    
                        {% endif %}
            </div>

           
            

    </section>
</body>
</html>