{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuCozinheiro</title>
    
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner.css' %}">
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner-imagem.css' %}">
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner-titulo.css' %}">
    <link rel="stylesheet" href="{% static '/css/cabecalho/banner/banner-subtitulo.css' %}">

    

    
</head>
<body>
    
    {% include 'partials/_navbar.html'%}
    <header class="cabecalho">
        <section class="banner">
            <div class="banner__imagem"></div>
            <h1 class="banner__titulo">EuCozinheiro</h1>
            <h2 class="banner__subtitulo">Prazer em Cozinhar</h2>
        </section>
    </header>



</body>