.receitas__nome {
    font-weight: 500;
}

@media screen and (min-width: 0) {
    .receitas__nome {
        font-size: 2rem;
        
    }
    
}

@media screen and (min-width: 768px) {
    .receitas__nome {
        font-size: 3rem;
        grid-area: receita__nome;
        margin-top: 1rem;
        padding: 1rem;
        
    }
    
}
