.receita__imagem {
    display: flex;
    
}

@media screen and (min-width: 0) {
    .receita__imagem{
        width: 100%;
        height: 70%;
    }
}


@media screen and (min-width: 768px) {
    .receita__imagem{
        width: 90%;
        height: 70%;
    }
}

