.institucional__lista {
    color: #595959;
}


@media screen and (min-width: 0){
    .institucional__lista--titulo{
        font-size: 1.5rem;
        font-weight: 50;
    }
    .institucional__lista--dado{
        font-size: 1.5rem;
    }

}


@media screen and (min-width: 768px){
    .institucional__lista--titulo{
        font-size: 2.5rem;
        font-weight: 100;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .institucional__lista--dado{
        font-size: 2.5rem;
    }

    
}