.institucional__conteudo {
    display: flex;
    flex-direction: column;
    
}

@media screen and (min-width: 0) {
    .institucional__conteudo {
        padding: 1rem;
    }
    
}

@media screen and (min-width: 768px) {
    .institucional__conteudo {
        padding: 2rem;
    }
    
}