.receita__autor {
    align-self: flex-end;
    font-weight: 900;
}

@media screen and (min-width: 0) {
    .receita__autor {
        font-size: 1rem;
    }
    
}


@media screen and (min-width: 768px) {
    .receita__autor {
        font-size: 1.5rem;

    }
    
}