.receitas__container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    
}



@media screen and (min-width: 0) {
    .receitas__container {
        box-sizing: border-box;
        flex-direction: column;
        max-width: 100%;
        
    }
    
}



@media screen and (min-width: 768px) {
    .receitas__container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.3rem;
        margin: 1rem;
    }
    
}