.filosofia__descricao {
    align-self: center;
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}


@media screen and (min-width: 0){
    .filosofia__descricao{
        font-size: 1.5rem;
    }

}


@media screen and (min-width: 768px){
    .filosofia__descricao{
        font-size: 2.5rem;
    }
    
}