.receita__imagem {
    display: block;
    max-width: 100%; /* Limita a largura máxima à largura do container pai */
    max-height: 100%; /*Limita a altura máxima à altura do container pai */
    object-fit: contain; /* Faz a imagem se ajustar ao contêiner sem distorção */

    
    
}

@media screen and (min-width: 0) {
    .receita__imagem{
       
    }
}


@media screen and (min-width: 768px) {
    .receita__imagem{
        
    }
}

