.receita__banner {        
    align-items: center;
    background-image: linear-gradient(to right, #fbf3eb, peru, #fbf3eb); 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    
    justify-content: center;


}



@media screen and (min-width: 0) {
    .receita__banner {
        padding: 0;
        
    }
    
}



@media screen and (min-width: 768px) {
    .receita__banner {
        height: 80vh;
        padding: 1rem;

    }
    
}