.receita__dados { 
    align-items: center;
    background-color: #fbf3eb;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    

}

@media screen and (min-width: 0px) {
    .receita__dados {
        font-size: 1rem;
        margin: auto;
    }
    
}

@media screen and (min-width: 768px) {
    .receita__dados {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 5rem;
        padding: 1rem;

    }
    
}